﻿@model AutomatorTask
@{
    var behavior = (string)ViewData["Behavior"];
}

<div class="row valign-wrapper">
    <h4 class="col input-field">@(behavior == "add" ? "Добавить" : "Изменить") задачу</h4>
    <div class="col input-field">
        <button type="submit" form="task_form" id="save_btn" class="btn-small">
            <i class="material-icons left">save</i>
            <span class="hide-on-small-and-down">сохранить</span>
        </button>
    </div>
</div>

@* main form *@
<form method="post" id="task_form" action="EditTask" onsubmit="sessionIndexing();">
    <div class="row">
        @* ID *@
        <div class="input-field col s4 m3 l2 disabled">
            <input type="text" name="Id" value="@Model?.Id" readonly />
            <label>Id (auto-setup)</label>
            <b>Id задачи</b>
        </div>

        <div class="col s8 m4 l4 input-container">
            <div class="input-field input-item">
                <label>Cron</label>
                <input type="text" id="cron_template" name="Cron" value="@(Model?.Cron ?? $"{DateTime.Now.Minute} {DateTime.Now.Hour} {DateTime.Now.Day} * *")" required />
                <b id="cron_description">Выражение в формате cron</b>
            </div>
            <a href="#cron_modal" class="input-field modal-trigger" style="align-self:baseline"><i class="material-icons">help_outline</i></a>
        </div>

        <div class="col s12 m6 l4 input-container">
            <div class="input-field input-item">
                <label>Управляющий Url</label>
                <input type="text" name="ControlUrl" value="@Model?.ControlUrl" required />
            </div>
            <button type="button" class="btn glossary-helper" data-name="управляющий url" data-type="11">&hellip;</button>
        </div>
    </div>

    <div class="row my-card">

        <div class="col s12 input-field">
            <h5>
                Сессии&emsp;
                <a href="#modal_session" id="add_session" class="btn-small modal-trigger"><i class="material-icons">add</i></a>
                <a href="#" id="clear_sessions" class="btn-small disabled"><i class="material-icons">close</i></a>
            </h5>
        </div>

        <div id="added_sessions" class="col s12"></div>
    </div>
</form>

@* template for session picker *@
<template id="session_card">
    <div class="col input-field session-item button-card waves-effect waves-light blue darken-2">
        <b></b>&emsp;<span class="tz"></span>
        <div><small></small></div>
        <div>
            <span class="proxy-info"></span>&emsp;
            <span class="platform-info"></span>
        </div>
    </div>
</template>

@* template to show sessions *@
<template id="added_session_tmp">
    <div class="row valign-wrapper added-session tinted-card">
        @* name *@
        <div class="col s12 l5 input-field">
            <input type="hidden" class="task-session-link-id" name="TaskSessions[].Id" />
            <input type="hidden" class="session-id" name="TaskSessions[].SessionId" />
            <span class="display-session-id" style="opacity: 0.7"></span>&nbsp;
            <a href="/session/edit?id=" target="_blank"><b class="session-name"></b></a>
        </div>
        @* input url *@
        <div class="col s12 l5 input-container">
            <div class="input-field input-item">
                <input type="text" name="TaskSessions[].Url" required class="session-url" />
                <label>Сайт</label>
            </div>
            <button type="button" class="btn waves-effect waves-light glossary-helper" data-name="сайт" data-type="8">&hellip;</button>
        </div>
        @* delete *@
        <div class="col input-field">
            <button type="button" class="btn waves-effect waves-light remove-from-sessions"><i>&times;</i></button>
        </div>
    </div>
</template>

@* modal for session picker *@
<div id="modal_session" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Выбрать сессию</h4>
        <div id="session_variants" class="row"></div>
    </div>

    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Закрыть</a>
    </div>
</div>

@* render glossary picker *@
@{ await Html.RenderPartialAsync("_PartialGlossaryModal");}


<script async>
    //// get basic static elements
    let clearSessions = document.getElementById("clear_sessions");
    let addedSessions = document.getElementById("added_sessions");
    let sessionModal = document.getElementById("modal_session"); //modal container
    M.Modal.init(sessionModal, { outDuration: 0, inDuration: 0, preventScrolling: false }); //init modal

    //render session in current added sessions block
    function RenderAddedSession(sessionData) {
        let cloned = document.importNode(document.getElementById("added_session_tmp").content, true);
        cloned.querySelector(".session-name").textContent = sessionData.name;
        cloned.querySelector(".display-session-id").textContent = "[sId: " + sessionData.sessionId + "]";
        cloned.querySelector(".session-id").value = sessionData.sessionId;

        let sessionLink = cloned.querySelector("a[href]");
        sessionLink.setAttribute("href", sessionLink.getAttribute("href") + sessionData.sessionId);

        if (sessionData.linkId) {
            cloned.querySelector(".task-session-link-id").value = sessionData.linkId;
        }

        if (sessionData.url != null) {
            cloned.querySelector(".session-url").value = sessionData.url;
        }

        //add eh for remove-self
        cloned.querySelector(".remove-from-sessions").onclick = function () {
            addedSessions.removeChild(this.closest(".added-session"));
            if (addedSessions.children.length === 0) {
                clearSessions.classList.add("disabled");
            }
        }

        addedSessions.appendChild(cloned);
        //ensure to activate clear-all
        if (clearSessions.classList.contains("disabled")) {
            clearSessions.classList.remove("disabled");
        };
    };

    //fill indexes in ids and urls name (for proper model binding)
    function sessionIndexing() {
        let sessions = addedSessions.getElementsByClassName("added-session");
        for (let i = 0; i < sessions.length; i++) {
            for (let input of sessions[i].querySelectorAll("input[name]")) {
                input.setAttribute("name", input.getAttribute("name").replace(/\[(.*?)\]/, "[" + i + "]"));
            }
        }
    }

    //render modal to show sessions variats
    function renderSessionsModal(set) {
        let container = sessionModal.querySelector("#session_variants");
        
        if (!set || set.length == 0) {
            container.innerHTML = "пусто";
        }
        else {
            for (let s of set) {
                let cloned = document.importNode(document.getElementById("session_card").content, true);
                cloned.querySelector(".session-item").dataset.sessionId = s.id;
                cloned.querySelector("b").textContent = s.name;
                cloned.querySelector(".tz").textContent = s.timezone;
                cloned.querySelector("small").textContent = s.userAgent;
                cloned.querySelector(".proxy-info").textContent = s.ip;
                cloned.querySelector(".platform-info").textContent = s.browser + " " + s.platform;
                container.appendChild(cloned);
            }
            //add eh
            for (let sItem of document.querySelectorAll(".session-item")) {
                sItem.onclick = function () {
                    RenderAddedSession({
                        name: this.querySelector("b").textContent,
                        sessionId: this.dataset.sessionId,
                        linkId: null,
                        url: null
                    });
                    M.toast({ html: "Добавлено в список" });
                };
            }
        }
    }

    //click clear sessions
    clearSessions.onclick = function () {
        addedSessions.innerHTML = "";
        this.classList.add("disabled");
    }

    //request cron expression description
    document.getElementById("cron_template").onkeyup = async function () {
        let description = document.getElementById("cron_description");
        try {
            let text = await getRequest("/task/expression?e=" + this.value);
            description.classList.remove("red-text");
            description.classList.add("blue-text");
            description.textContent = text;
        }
        catch (e) {
            description.classList.add("red-text");
            description.classList.remove("blue-text");
            description.textContent = e.responseText + " (" + e.statusText + ")";
        }
    };

    document.getElementById("cron_template").onkeyup(); //trigger to fill description
    //fill modal with sessions after dom loaded
    document.addEventListener("DOMContentLoaded", async function () {
        renderSessionsModal(JSON.parse(await getRequest("/session/list")));
    });
</script>


@* for pre-render sessions (if any)  *@
@if (Model != null && Model.TaskSessions != null && Model.TaskSessions.Count > 0)
{
    <script>
    //if need to render already existing sessions
    var preRenderSessionsUrls = @Html.Raw(
        JsonConvert.SerializeObject(
            Model.TaskSessions.Select(ts => new
            {
                sessionId = ts.SessionId,
                name = ts.SessionNavigation.SessionName,
                linkId = ts.Id,
                url = ts.Url
            })
        )
    );
    for (let sess of preRenderSessionsUrls) {
        RenderAddedSession(sess);
    }
    </script>
}


@* just modal for cron help *@
<div id="cron_modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5>Cron выражения</h5>
        <i>Допустимые значения временных параметров:</i>
        <table class="thick">
            <tr>
                <th>Параметр</th>
                <th>Допустимый интервал</th>
            </tr>
            <tr>
                <td>минуты</td>
                <td>0-59</td>
            </tr>
            <tr>
                <td>часы</td>
                <td>0-23</td>
            </tr>
            <tr>
                <td>день месяца</td>
                <td>1-31</td>
            </tr>
            <tr>
                <td>месяц</td>
                <td>1-12</td>
            </tr>
            <tr>
                <td>день недели</td>
                <td>1-7 (от Воскресенья до Субботы) а также по именам от понедельника: MON,TUE,WED,THU,FRI,SAT,SUN</td>
            </tr>
        </table>
        <br>
        <div><i>Поле может быть задано явно или шаблоном:</i></div>
        <ul class="browser-default">
            <li>* — любая цифра;</li>
            <li>*/n каждый n-ый интервал, например */5 */2 * * * - каждые 5 минут каждые 2 часа;</li>
            <li>m/n тоже, что предыдущий вариант, но начиная с m значения, например 5/10 * 12 * * - Каждые 10 минут, начало в 5 минут, в 12 число месяца;</li>
            <li>целое число;</li>
            <li>целые числа через запятую — задание дискретного множества значений, например 1,2,5;</li>
            <li>два целых числа, разделенные дефисом, соответствующие диапазону значений, например 3-6.</li>
        </ul>

        <div><i>Пример выражения:</i></div>
        <table class="thick">
            <tr>
                <th>минуты</th>
                <th>часы</th>
                <th>день месяца</th>
                <th>месяц</th>
                <th>день недели</th>
            </tr>
            <tr>
                <td>*/5</td>
                <td>0-59</td>
                <td>2,16</td>
                <td>*</td>
                <td>WED</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">закрыть</a>
    </div>
</div>

<script>
    M.Modal.init(document.getElementById("cron_modal"));
</script>