﻿@{
    var data = (IEnumerable<AutomatorTask>)ViewData["Dataset"];
}

<div class="row valign-wrapper">
    <h4 class="col input-field">Задачи для автоматора</h4>
    <div class="col input-field">
        <a href="/task/ViewTask" id="add-btn" class="btn-small"><i class="material-icons left">add</i>добавить</a>
    </div>
</div>

@if (data == null)
{
    <b class="red-text">Error to retrieve tasks</b>
    return;
}
@if (data.Count() == 0)
{
    <blockquote>Пока-что ничего нет</blockquote>
    return;
}

<div class="row">
    <ul class="collapsible">
        @foreach (var t in data)
        {
            <li>
                <div class="collapsible-header valign-wrapper">
                    <div style="display:flex; flex-wrap:nowrap;justify-content: space-between;width:100%">

                        <div class="id-column" style="align-self:flex-start">
                            <b>Задача #@t.Id</b>&nbsp;
                            <span class="cron-expression">@t.Cron</span>&nbsp;
                            <a href="@t.ControlUrl" target="_blank" class="stop-click-event">@t.ControlUrl</a>
                        </div>

                        <div style="align-content:flex-start">
                            <a href="/task/ViewTask?taskId=@t.Id" class="stop-click-event" title="edit task">
                                <i class="material-icons large">create</i>
                            </a>
                            <a class="delete-task stop-click-event" title="delete task" data-target="@t.Id">
                                <i class="material-icons red-text large">delete</i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="collapsible-body">
                    @if (t.TaskSessions.Count == 0)
                    {
                        <blockquote>Сессии не заданы</blockquote>
                    }
                    else
                    {
                        foreach (var s in t.TaskSessions)
                        {
                            <di class="row">
                                <b><a target="_blank" href="/session/edit?id=@s.SessionId">@s.SessionNavigation.SessionName</a> - @s.Url</b>
                            </di>
                        }
                    }
                </div>
            </li>
        }
    </ul>
</div>

<script>
    M.Collapsible.init(document.querySelectorAll(".collapsible"), { inDuration: 0, outDuration: 0 });

    for (let delBtn of document.querySelectorAll(".delete-task")) {
        delBtn.addEventListener("click", async function () {
            try {
                await getRequest("/task/delete?taskId=" + delBtn.dataset.target);
                M.toast({ html: "deleted", classes: "green" });
                reloadAfter();
            }
            catch (e) {
                M.toast({ html: e.responseText + e.statusText, classes: "red" });
            }
        });
    }

    for (let cExp of document.querySelectorAll(".cron-expression")) {
        getRequest("/task/expression?e=" + cExp.textContent)
            .then(m => cExp.textContent = m)
            .catch(x => cExp.textContent = x.responseText);
    }

</script>