﻿@model Session
@{
    var behavior = (string)ViewData["Behavior"];
}

<div class="row valign-wrapper">
    <h4 class="col input-field">@(behavior == "add" ? "Добавить" : "Изменить") сессию</h4>
    <div class="col input-field">
        <button type="button" id="apply_btn" class="btn-small"><i class="material-icons left">save</i>сохранить</button>
    </div>
</div>

<div>
    <span>Сессия состоит из нескольких отельных настроек:</span>
    <a href="#configure">основные</a>&nbsp;&#44;
    <a href="#network">сеть(прокси)</a>&nbsp;&#44;
    <a href="#fingerprints">отпечатки</a>&nbsp;&#44;
    <a href="#customize">кастомные параметры</a>
</div>
<br />

<form id="@behavior">
    <div class="my-card row">
        <h6 class="session-title">Основные настройки</h6>

        @* ID *@
        <div class="input-field col s6 m4 l3">
            <input type="text" name="Id" value="@Model?.Id" readonly class="disabled" />
            <label>Id (auto-increment)</label>
        </div>
        @* Browser *@
        <div class="col s6 m4 l3 input-container">
            <div class="input-field input-item">
                <input type="text" name="Browser" value="@Model?.Browser" required />
                <label>Browser</label>
            </div>
            <button type="button" class="btn glossary-helper" data-name="браузер" data-type="3">&hellip;</button>
        </div>

        @* platform *@
        <div class="col s6 m4 l3 input-container">
            <div class="input-field input-item">
                <input type="text" name="Platform" value="@Model?.Platform" required />
                <label>Platform</label>
            </div>
            <button type="button" class="btn glossary-helper" data-name="платформу" data-type="2">&hellip;</button>
        </div>

        @* unmaskedVendor *@
        <div class="col s6 m4 l3 input-container">
            <div class="input-field input-item">
                <input type="text" name="UnmaskedVendor" value="@Model?.UnmaskedVendor" required />
                <label>UnmaskedVendor</label>
            </div>
            <button type="button" class="btn glossary-helper" data-name="UnmaskedVendor" data-type="5">&hellip;</button>
        </div>

        @* Configure *@
        <div class="row">
            <div class="input-field col s6 m4 l3">
                <input type="text" name="SessionName" value="@Model?.SessionName" required />
                <label>Имя сессии</label>
            </div>

            <div class="col s6 m4 l3 input-container">
                <div class="input-field input-item">
                    <input type="text" name="Language" value="@Model?.Language" required />
                    <label>Язык</label>
                </div>
                <button type="button" class="btn glossary-helper" data-name="язык" data-type="1">&hellip;</button>
            </div>

            <div class="col s6 m4 l3 input-container">
                <div class="input-field input-item">
                    <input type="text" name="TimezoneName" value="@Model?.TimezoneName" required />
                    <label>Временная зона</label>
                </div>
                <button type="button" class="btn glossary-helper" data-name="временную зону" data-type="4">&hellip;</button>
            </div>
        </div>

        @* booleans *@
        <div class="row">
            <div class="input-field col s6 l3">
                <label>
                    <input type="checkbox" class="filled-in" name="UseIncognito" checked="@(Model != null && Model.UseIncognito)" value="true" />
                    <span>Инкогнито</span>
                </label>
            </div>
            <div class="input-field col s6 l3">
                <label>
                    <input type="checkbox" class="filled-in" name="DisablePopups" checked="@(Model != null && Model.DisablePopups)" value="true" />
                    <span>Запрет вспл. окон</span>
                </label>
            </div>
            <div class="input-field col s6 l3">
                <label>
                    <input type="checkbox" class="filled-in" name="UseLocalStorage" checked="@(Model != null && Model.UseLocalStorage)" value="true" />
                    <span>Исп. локальное хранилище</span>
                </label>
            </div>
            <div class="input-field col s6 l3">
                <label>
                    <input type="checkbox" class="filled-in" name="EnableServiceWorker" checked="@(Model != null && Model.EnableServiceWorker)" value="true" />
                    <span>EnableServiceWorker</span>
                </label>
            </div>
        </div>

        @* coords *@
        <br />
        <b>Координаты</b>
        <div class="row">
            <div class="input-field col s5">
                <input type="text" name="Longitude" id="longitude" value="@Model?.Longitude" required />
                <label>Долгота</label>
            </div>
            <div class="input-field col s5">
                <input type="text" name="Latitude" id="latitude" value="@Model?.Latitude" required />
                <label>Широта</label>
            </div>
            <a id="map_trigger" class="btn input-field col modal-trigger" href="#modal_map">
                <span>&hellip;</span>
            </a>
        </div>

    </div>

    @* fingerprints *@
    <div id="fingerprints" class="my-card row">
        <h6 class="session-title">Отпечатки</h6>
        <div class="row">
            <div class="input-field col s4 l2">
                <label>
                    <input type="checkbox" class="filled-in" name="IsFakeAudio" checked="@(Model != null && Model.IsFakeAudio)" value="true" />
                    <span>FakeAudio</span>
                </label>
            </div>
            <div class="input-field col s4 l2">
                <label>
                    <input type="checkbox" class="filled-in" name="IsFakeCanvas" checked="@(Model != null && Model.IsFakeCanvas)" value="true" />
                    <span>FakeCanvas</span>
                </label>
            </div>
            <div class="input-field col s4 l2">
                <label>
                    <input type="checkbox" class="filled-in" name="IsFakeFonts" checked="@(Model != null && Model.IsFakeFonts)" value="true" />
                    <span>FakeFonts</span>
                </label>
            </div>
            <div class="input-field col s4 l2">
                <label>
                    <input type="checkbox" class="filled-in" name="IsFakePlugins" checked="@(Model != null && Model.IsFakePlugins)" value="true" />
                    <span>FakePlugins</span>
                </label>
            </div>
            <div class="input-field col s4 l2">
                <label>
                    <input type="checkbox" class="filled-in" name="IsFakeRects" checked="@(Model != null && Model.IsFakeRects)" value="true" />
                    <span>FakeRects</span>
                </label>
            </div>
            <div class="input-field col s4 l2">
                <label>
                    <input type="checkbox" class="filled-in" name="IsFakeWebrtc" checked="@(Model != null && Model.IsFakeWebrtc)" value="true" />
                    <span>FakeWebrtc</span>
                </label>
            </div>
        </div>
    </div>

    @* network *@
    <div id="network" class="anchor"></div>
    <div class="my-card row">
        <h6 class="session-title">Сеть</h6>
        <div id="network_settings" class="row">

            <div class="input-field col s5 l2">
                <input type="text" name="ProxyIp" value="@Model?.ProxyIp" required />
                <label>ProxyIp</label>
            </div>

            <div class="input-field col s3 m2 l1">
                <input type="text" name="ProxyPort" value="@Model?.ProxyPort" required />
                <label>ProxyPort</label>
            </div>

            <div class="col s4 l2 input-container">
                <div class="input-field input-item">
                    <input type="text" name="ProxyType" value="@Model?.ProxyType" required />
                    <label>ProxyType</label>
                </div>
                <button type="button" class="btn glossary-helper" data-name="proxy type" data-type="6">&hellip;</button>
            </div>

            <div class="input-field col s5 l3">
                <input type="text" name="RealProxyIp" value="@Model?.RealProxyIp" required />
                <label>RealProxyIp</label>
            </div>

            <div class="input-field col s5 l3">
                <input type="text" name="LocalProxyIp" value="@Model?.LocalProxyIp" required />
                <label>LocalProxyIp</label>
            </div>
            <a id="proxy_trigger" class="btn input-field col">
                <span>&hellip;</span>
            </a>
        </div>
    </div>

    @* Customize *@
    <div id="customize" class="my-card row">
        <h6 class="session-title">Customize</h6>

        <div class="row">
            <div class="col s12 input-container">
                <div class="input-field input-item">
                    <input type="text" name="UserAgent" value="@Model?.UserAgent" required />
                    <label>UserAgent</label>
                </div>
                <button type="button" class="btn glossary-helper" data-name="user-agent" data-type="7">&hellip;</button>
            </div>
            @* navigator *@
            <b>navigator</b>
            <div class="row">
                <div class="col s6 m4 l3 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="NavigatorVendor" value="@Model?.NavigatorVendor" required />
                        <label>Vendor</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="vendor" data-type="5">&hellip;</button>
                </div>
                <div class="col s6 m4 l3 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="NavigatorPlatform" value="@Model?.NavigatorPlatform" required />
                        <label>Platform</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="platform" data-type="9">&hellip;</button>
                </div>
                <div class="col s6 m4 l3 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="NavigatorLanguage" value="@Model?.NavigatorLanguage" required />
                        <label>Language</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="основной язык" data-type="1">&hellip;</button>
                </div>
                <div class="col s6 m6 l3 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="NavigatorLanguages" value="@Model?.NavigatorLanguages" required />
                        <label>Languages</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="языки" data-behavior="add" data-delimiter="," data-type="1">&hellip;</button>
                </div>

                <div class="input-field col s4 m6 l3">
                    <input type="text" name="NavigatorProductSub" value="@(Model?.NavigatorProductSub ?? "20030107")" required />
                    <label>ProductSub</label>
                </div>
                <div class="input-field col s4 m6 l3">
                    <input type="text" name="NavigatorHardwareConcurrency" value="@(Model?.NavigatorHardwareConcurrency ?? "10")" required />
                    <label>HardwareConcurrency</label>
                </div>
                <div class="input-field col s4 m6 l3">
                    <input type="text" name="NavigatorMaxTouchPoints" value="@(Model?.NavigatorMaxTouchPoints ?? "5")" required />
                    <label>MaxTouchPoints</label>
                </div>
            </div>

            @* nav bools *@
            <div class="row">
                <div class="input-field col s4 m3 l2">
                    <label>
                        <input type="checkbox" class="filled-in" name="NavigatorDoNotTrack" checked="@(Model != null && Model.NavigatorDoNotTrack.HasValue ? Model.NavigatorDoNotTrack.Value : false)" value="true" />
                        <span>DoNotTrack</span>
                    </label>
                </div>
                <div class="input-field col s4 m3 l2">
                    <label>
                        <input type="checkbox" class="filled-in" name="NavigatorGamepads" checked="@(Model != null && Model.NavigatorGamepads)" value="true" />
                        <span>Gamepads</span>
                    </label>
                </div>
                <div class="input-field col s4 m3 l2">
                    <label>
                        <input type="checkbox" class="filled-in" name="NavigatorBattery" checked="@(Model != null ? Model.NavigatorBattery : true )" value="true" />
                        <span>Battery</span>
                    </label>
                </div>
                <div class="input-field col s4 m3 l2">
                    <label>
                        <input type="checkbox" class="filled-in" name="NavigatorWebdriver" checked="@(Model != null && Model.NavigatorWebdriver)" value="true" />
                        <span>Webdriver</span>
                    </label>
                </div>
                <div class="input-field col s6 m3 l2">
                    <label>
                        <input type="checkbox" class="filled-in" name="NavigatorOnLine" checked="@(Model != null && Model.NavigatorOnLine)" value="true" />
                        <span>OnLine</span>
                    </label>
                </div>
                <div class="input-field col s6 m3 l2">
                    <label>
                        <input type="checkbox" class="filled-in" name="NavigatorMediaDeviceMemory" checked="@(Model != null && Model.NavigatorMediaDeviceMemory)" value="true" />
                        <span>DeviceMemory</span>
                    </label>
                </div>
            </div>
            <br />
            @* screen section *@
            <b>экран</b>
            <div class="row">
                @* resolution *@
                <div class="col s4 m3 l2 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="ScreenWidth" value="@(Model?.ScreenWidth ?? "1920")" required />
                        <label>screenWidth</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="pixel-width" data-type="10">&hellip;</button>
                </div>

                <div class="col s4 m3 l2 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="ScreenHeight" value="@(Model?.ScreenHeight ?? "1080")" required />
                        <label>screenHeight</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="pixel-height" data-type="10">&hellip;</button>
                </div>

                <div class="col s4 m3 l2 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="ScreenAvailWidth" value="@(Model?.ScreenAvailWidth ?? "1920")" required />
                        <label>availWidth</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="avail-width" data-type="10">&hellip;</button>
                </div>

                <div class="col s4 m3 l2 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="ScreenAvailHeight" value="@(Model?.ScreenAvailHeight ?? "1080")" required />
                        <label>availHeight</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="avail-height" data-type="10">&hellip;</button>
                </div>

                <div class="col s4 m3 l2 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="BodyClientWidth" value="@(Model?.BodyClientWidth ?? "1920")" required />
                        <label>clientWidth</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="body-width" data-type="10">&hellip;</button>
                </div>

                <div class="col s4 m3 l2 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="BodyClientHeight" value="@(Model?.BodyClientHeight ?? "1080")" required />
                        <label>clientHeight</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="body-height" data-type="10">&hellip;</button>
                </div>

                <div class="input-field col s4 m3 l2">
                    <input type="text" name="ScreenAvailLeft" value="@(Model?.ScreenAvailLeft ?? "0")" required />
                    <label>availLeft</label>
                </div>
                <div class="input-field col s4 m3 l2">
                    <input type="text" name="ScreenAvailTop" value="@(Model?.ScreenAvailTop ?? "0")" required />
                    <label>availTop</label>
                </div>
                @* + screen setttings *@
                <div class="input-field col s4 m3 l2">
                    <input type="text" name="WindowScreenX" value="@(Model?.WindowScreenX ?? "0")" required />
                    <label>screenX</label>
                </div>
                <div class="input-field col s4 m3 l2">
                    <input type="text" name="WindowScreenY" value="@(Model?.WindowScreenY ?? "0")" required />
                    <label>screenY</label>
                </div>
                <div class="input-field col s4 m3 l2">
                    <input type="text" name="WindowScreenLeft" value="@(Model?.WindowScreenLeft ?? "0")" required />
                    <label>screenLeft</label>
                </div>
                <div class="input-field col s4 m3 l2">
                    <input type="text" name="WindowScreenTop" value="@(Model?.WindowScreenTop ?? "0")" required />
                    <label>screenTop</label>
                </div>

                @* row #3 *@
                <div class="col s4 m3 l2 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="WindowInnerWidth" value="@(Model?.WindowInnerWidth ?? "1920")" required />
                        <label>innerWidth</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="inner-width" data-type="10">&hellip;</button>
                </div>

                <div class="col s4 m3 l2 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="WindowInnerHeight" value="@(Model?.WindowInnerHeight ?? "1080")" required />
                        <label>innerHeight</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="inner-height" data-type="10">&hellip;</button>
                </div>

                <div class="col s4 m3 l2 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="WindowOutherWidth" value="@(Model?.WindowOutherWidth ?? "1920")" required />
                        <label>outherWidth</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="outer-width" data-type="10">&hellip;</button>
                </div>

                <div class="col s4 m3 l2 input-container">
                    <div class="input-field input-item">
                        <input type="text" name="WindowOuterHeight" value="@(Model?.WindowOuterHeight ?? "1080")" required />
                        <label>outerHeight</label>
                    </div>
                    <button type="button" class="btn glossary-helper" data-name="outer-height" data-type="10">&hellip;</button>
                </div>

                <div class="input-field col s4 m3 l2">
                    <input type="text" name="WindowPageXOffset" value="@(Model?.WindowPageXOffset ?? "0")" required />
                    <label>pageXOffset</label>
                </div>
                <div class="input-field col s4 m3 l2">
                    <input type="text" name="WindowPageYOffset" value="@(Model?.WindowPageYOffset ?? "0")" required />
                    <label>pageYOffset</label>
                </div>
                @* other *@
                <div class="input-field col s4 m3 l2">
                    <input type="text" name="ScreenColorDepth" value="@(Model?.ScreenColorDepth ?? "24")" required />
                    <label>colorDepth</label>
                </div>
                <div class="input-field col s4 m3 l2">
                    <input type="text" name="ScreenPixelDepth" value="@(Model?.ScreenPixelDepth ?? "24")" required />
                    <label>pixelDepth</label>
                </div>
                <div class="input-field col s4 m3 l2">
                    <input type="text" name="WindowDevicePixelRatio" value="@(Model?.WindowDevicePixelRatio ?? "2")" required />
                    <label>devicePixelRatio</label>
                </div>
            </div>
        </div>
    </div>
</form>


@* Yandex maps *@
<script src="https://api-maps.yandex.ru/2.1/?apikey=0e0b8858-b092-4acf-a9ae-d68f0f73ebfc&lang=ru_RU" type="text/javascript"></script>
<div id="modal_map" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Выбрать координаты на карте</h4>
        <div id="map" style="width: 100%; height: 75vh"></div>
    </div>
    <div class="modal-footer">
        <a id="map_ok" class="modal-close waves-effect waves-green btn-flat">ok</a>
        <a class="modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<script>
    var mapOkBtn = document.getElementById("map_ok");
    var mapTrigger = document.getElementById("map_trigger");
    var longitude = document.getElementById("longitude");
    var latitude = document.getElementById("latitude");
    M.Modal.init(document.getElementById("modal_map"), { outDuration: 0, inDuration: 0 });

    let myPlacemark;
    let myMap;
    let myCoords = [55.76, 37.64];

    // Создание метки.
    function createPlacemark(coords) {
        return new ymaps.Placemark(coords, {
            iconCaption: 'поиск...'
        }, {
                preset: 'islands#violetDotIconWithCaption',
                draggable: true
            });
    }

    // Определяем адрес по координатам (обратное геокодирование).
    function getAddress(pm) {
        let coords = pm.geometry.getCoordinates();
        pm.properties.set('iconCaption', 'поиск...');
        ymaps.geocode(coords).then(function (res) {
            var firstGeoObject = res.geoObjects.get(0);

            pm.properties
                .set({
                    // Формируем строку с данными об объекте.
                    iconCaption: [
                        // Название населенного пункта или вышестоящее административно-территориальное образование.
                        firstGeoObject.getLocalities().length ? firstGeoObject.getLocalities() : firstGeoObject.getAdministrativeAreas(),
                        // Получаем путь до топонима, если метод вернул null, запрашиваем наименование здания.
                        firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
                    ].filter(Boolean).join(', '),
                    // В качестве контента балуна задаем строку с адресом объекта.
                    balloonContent: firstGeoObject.getAddressLine()
                });
        });
    }

    function AttachPlaceMark(pm) {
        myMap.geoObjects.add(pm);
        // Слушаем событие окончания перетаскивания на метке.
        pm.events.add('dragend', function () {
            getAddress(pm.geometry.getCoordinates(), pm);
        });
        getAddress(pm);
    }

    function mapClickHandler(e) {
        var coords = e.get('coords');
        myCoords = coords;
        // Если метка уже создана – просто передвигаем ее.
        if (myPlacemark) {
            myPlacemark.geometry.setCoordinates(coords);
            getAddress(myPlacemark);
        }
        // Если нет – создаем.
        else {
            myPlacemark = createPlacemark(coords);
            AttachPlaceMark(myPlacemark);
        }
    }

    function init() {
        // Создание карты.
        myMap = new ymaps.Map("map", {
            center: myCoords,
            zoom: 8
        });

        // Слушаем клик на карте.
        myMap.events.add('click', mapClickHandler);
    }

    ymaps.ready(init);

    mapOkBtn.onclick = function (){
        longitude.value = myCoords[0];
        latitude.value = myCoords[1];
        M.updateTextFields();
    };

    mapTrigger.onclick = function () {
        let lng = longitude.value;
        let ltd = latitude.value;
        if (lng && ltd && ltd.length > 0 && lng.length > 0) {
            myCoords = [Number.parseFloat(lng), Number.parseFloat(ltd)];
            myMap.setCenter(myCoords);
            if (!myPlacemark) {
                myPlacemark = createPlacemark(myCoords);
                AttachPlaceMark(myPlacemark);
            }
        }
    };
</script>


@{await Html.RenderPartialAsync("_PartialGlossaryModal");}


@* modal for proxy *@
<div id="modal_proxy" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Выбрать прокси</h4>
        <div id="proxy_list" class="row"></div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Закрыть</a>
    </div>
</div>

@* proxy-button template *@
<template id="template_proxy">
    <div class="btn col proxy-button">
        <b class="ip"></b>:
        <b class="port"></b>&nbsp;
        <span class="rIp"></span>&nbsp;
        <span class="lIp"></span>&nbsp;
        <b class="type"></b>
    </div>
</template>

@* proxy filler script *@
<script async>

    var modalProxy = document.getElementById("modal_proxy");
    let modalProxyInstance = M.Modal.init(modalProxy, { outDuration: 0, inDuration: 0 });
    var proxySettingsContainer = document.getElementById("network_settings");
    //render proxy fill button
    function renderProxyButton(set) {
        let clone = document.importNode(document.getElementById("template_proxy").content, true);
        clone.querySelector(".ip").textContent = set.proxyIp;
        clone.querySelector(".port").textContent = set.proxyPort;
        clone.querySelector(".rIp").textContent = set.realProxyIp;
        clone.querySelector(".lIp").textContent = set.localProxyIp;
        clone.querySelector(".type").textContent = set.proxyType;
        return clone;
    };
    //render modal on trigger click
    document.getElementById("proxy_trigger").onclick = async function () {
        let proxies = JSON.parse(await getRequest("/proxy/list"));
        let buttonsContainer = document.getElementById("proxy_list");
        //clear
        buttonsContainer.innerHTML = "";
        //fill
        for (let set of proxies) {
            buttonsContainer.appendChild(renderProxyButton(set));
        }
        //add eh to fill settings
        for (let b of document.querySelectorAll(".proxy-button")) {
            b.onclick = function () {
                proxySettingsContainer.querySelector("input[name=ProxyIp]").value = this.querySelector(".ip").textContent;
                proxySettingsContainer.querySelector("input[name=ProxyPort]").value = this.querySelector(".port").textContent;
                proxySettingsContainer.querySelector("input[name=RealProxyIp]").value = this.querySelector(".rIp").textContent;
                proxySettingsContainer.querySelector("input[name=LocalProxyIp]").value = this.querySelector(".lIp").textContent;
                proxySettingsContainer.querySelector("input[name=ProxyType]").value = this.querySelector(".type").textContent;

                M.updateTextFields();
                modalProxyInstance.close();
            };
        }

        modalProxyInstance.open();
    };
</script>

<script>
    let buttonLock = false;

    document.getElementById("apply_btn").onclick = function () {
        if (buttonLock == true)
            return;

        let form = document.querySelector("form#@behavior");
        postRequest("/session/@behavior", new FormData(form))
            .then(r => M.toast({ html: "Ok", classes: "green" }))
            .catch(x => M.toast({ html: x.responseText + x.statusText, classes: "red" }));
    };
</script>