﻿<h5>Импорт сессии</h5>
<div class="row">
    <div class="col file-field input-field">
        <a href="/session/downloadTemplate" class="btn waves-effect waves-light">
            <i class="material-icons left">file_download</i>Скачать шаблон
        </a>
    </div>

    <form enctype="multipart/form-data">
        <div class="col file-field input-field">
            <div class="btn">
                <span><i class="material-icons left">file_upload</i>Импортировать файл</span>
                <input id="import_file" type="file" name="importSession" accept=".txt">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </form>

</div>

<!-- Modal Structure -->
<div id="modal_import" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div><h4>Результат импорта</h4></div>
        <div class="result">
            <div class="result-content">
                
            </div>
        </div>
    </div>
    <div class="modal-footer valign-wrapper">
        <a href="#" class="modal-close btn waves-effect waves-light left"><i class="material-icons left">close</i>закрыть</a>
    </div>
</div>


<script>

    var modalImport = document.getElementById("modal_import");
    var modalImportInstance = M.Modal.init(modalImport);

    document.getElementById("import_file").onchange = async function () {

        let content = modalImport.querySelector(".result-content");

        try {
            let response = await postRequest("/session/import", new FormData(this.form));

            content.classList.remove("red-text");
            content.innerHTML = "";
            let data = JSON.parse(response);
            
            //added
            if (data.names && data.names.length > 0) {
                let div = document.createElement("div");
                let ul = document.createElement("ul");
                div.textContent = "Добавлены сессии (" + data.names.length + "):";
                div.classList.add("green-text");
                content.appendChild(div);
                content.appendChild(ul);
                data.names.map(s => {
                    let li = document.createElement("li");
                    li.textContent = s;
                    ul.appendChild(li);
                });
            }

            //errors
            if (data.errors.length > 0) {
                let div = document.createElement("div");
                let ul = document.createElement("ul");
                div.textContent = "Возникли ошибки при импорте:";
                div.classList.add("orange-text");
                content.appendChild(div);
                content.appendChild(ul);

                data.errors.map(s => {
                    let li = document.createElement("li");
                    li.textContent = s;
                    ul.appendChild(li);
                });
            }

            modalImportInstance.open();
        }
        catch (x) {
            content.textContent = "Ошибка";
            content.innerHTML = "";
            content.textContent = x.responseText + " " + x.status;
            content.classList.add("red-text");
            modalImportInstance.open();
        }
        finally {
            document.getElementById("import_file").value = "";
        }
    };
</script>
