﻿@{
    var data = (IEnumerable<Session>)ViewData["Dataset"];
}

<div class="row valign-wrapper">
    <h4 class="col input-field">Сессии для автоматора</h4>
    <div class="col input-field">
        <a href="/session/add" id="add-btn" class="btn-small"><i class="material-icons left">add</i>добавить</a>
    </div>
</div>

@if(data == null)
{
    <b class="red-text">Error to retrieve sessions</b>
    return;
}
@if (data.Count() == 0)
{
    <blockquote>Пока-что ничего нет</blockquote>
    return;
}

<div class="row">
    <ul class="collapsible">
        @foreach(var s in data)
        {
            <li>
                <div class="collapsible-header valign-wrapper">
                    <div style="display:flex; flex-wrap:nowrap;justify-content: space-between;width:100%">

                        <div class="id-column" style="align-self:flex-start">
                            <span>@s.Id</span>&nbsp;
                            <b>@(s.SessionName ?? "no-name")</b> @(s.TimezoneName ?? "no-timezone")
                        </div>

                        <div style="align-content:flex-start">
                            <a class="stop-click-event copy-session" title="copy session" data-target="@s.Id">
                                <i class="material-icons large">content_copy</i>
                            </a>
                            <a href="/session/edit?id=@s.Id" class="stop-click-event" title="edit session">
                                <i class="material-icons large">create</i>
                            </a>
                            <a class="stop-click-event delete-session" title="delete session" data-target="@s.Id">
                                <i class="material-icons red-text large">delete</i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="collapsible-body">
                    <div class="">@(s.UserAgent ?? "no user-agent")</div>
                    <div class=""><b>@(s.ProxyIp ?? "no-ip"):@(s.ProxyPort ?? "no-port") @(s.ProxyType ?? "no-data")</b>, <small>@(s.RealProxyIp ?? "no-ip") @(s.LocalProxyIp ?? "no-ip")</small></div>
                    <div class="">@s.Longitude @s.Latitude</div>
                    <div class="">@(s.Platform ?? "no-platform"), @(s.NavigatorVendor ?? "no-vendor"), @(s.Browser ?? "no-browser")</div>
                </div>
            </li>
        }
    </ul>
</div>

<script>
    M.Collapsible.init(document.querySelectorAll(".collapsible"), { inDuration: 0, outDuration: 0 });

    //add eh to delete btn
    for (let delBtn of document.getElementsByClassName("delete-session")) {
        delBtn.onclick = function () {
            getRequest("/session/delete?id=" + delBtn.dataset.target)
                .then(m => {
                    M.toast({ html: "removed", classes: "green" });
                    setTimeout(() => location.reload(), 500);
                })
                .catch(x => M.toast({ html: x.statusText + x.responseText, classes: "red" }));
        }
    }

    //add eh to copy button
    for (let cpBtn of document.getElementsByClassName("copy-session")) {
        cpBtn.onclick = function () {
            getRequest("/session/copy?id=" + cpBtn.dataset.target)
                .then(m => {
                    M.toast({ html: "copied", classes: "green" });
                    setTimeout(() => location.reload(), 500);
                })
                .catch(x => M.toast({ html: x.statusText + x.reponseText, classes: "red" }));
        }
    }
</script>