﻿@model ScriptViewModel
@{
    var behavior = (string)ViewData["Behavior"];
}

<form method="post" id="source_form" onsubmit="beforeSubmit()">
    <textarea id="src" style="display:none" name="source">@Model.Source</textarea>
</form>

<style type="text/css" media="screen">
    #editor {
        top: 0;
        position: relative;
        width: 100%;
        height: 1200px;
    }
    .topbar{
        margin: 16px;
        display: flex;
    }
    .topbar > *{
        margin-left: 10px;
    }

</style>

<div class="valign-wrapper topbar">
    <h5 class="input-field">@(behavior == "add" ? "Добавить скрипт" : "Изменить скрипт")</h5>
    <div class="input-field">
        <button type="submit" form="source_form" formaction="/script/edit" class="btn-small"><i class="material-icons left">save</i>сохранить</button>
    </div>
    <div class="input-field">
        <a href="#help" class="btn-small modal-trigger"><i class="material-icons left">info</i>справка</a>
    </div>
    <div class="input-field" style="width:25%">
        <input type="text" name="name" form="source_form" value="@Model.Name" required @(behavior == "add" ? "" : "readonly") />
        <label>Имя скрипта</label>
    </div>
</div>
<div class="divider"></div>
<div id="editor"></div>


<!-- Modal Structure -->
<div id="help" class="modal modal-fixed-footer" style="min-height:40vw">
    <div class="modal-content">
        <strong style="font-weight:700;font-size:1.25em">Справка</strong>
        <p>
            Генерация действий для задания происходит внутри функции:<br />
            <i class="blue-text">module.exports = function (model) { //ваш код здесь };</i><br />
            На вход функция принимает объект 'model', содержащий следующие поля:
        </p>
        <p>
            <div><b>model.html</b> - контент, который получила вкладка или пусто соответственно если ничего не загрузилось по каким-то причинам.</div>
            <div><b>model.url</b> - веб сайт, который загрузила вкладка.</div>
            <div><b>model.sess</b> - имя сессии данной вкладки.</div>
        </p>
        <div class="row">
            <div class="col s6">
                <img src="~/img/code.png" align=left />
            </div>
            <div class="col s6">
                <span>Ответ формируется в формате JSON методами API, каждая команда должна содержать название метода и параметры.</span><br />
                <b>scrollTo [x,y]</b> - Скроллинг к координатам<br />
                <b>scrollToElement [elem]</b> - Скроллинг к элементу - обратите внимание что указанный селектор должен быть уникален, то есть полный путь к элементу, если используются классы, ну или id если есть id.<br />
                <b>mouseTo [x,y]</b> - имитация движения мыши к заданным координатам<br />
                <b>mouseToElement [elem]</b> - движение мыши к элементу, правила те же что и при скроллинге<br />

                <b>clickTo [x,y]</b> - клик в области с заданными координатами<br />
                <b>clickToElement [elem]</b> - Данный метод использует комбинацию - скролл к элементу, движение мыши к нему и клик по нему.<br />
                <b>waitFor t</b> - время в сек. Ожидание на странице в бездействии<br />
                <b>exitWith [code=0]</b> - закончить работу с кодом. Если код положительный (в дальнейшем планируем описывать ситуации, для анализа) то успех, если нет то неуспех. Отрицательные коды могут быть получены в случае различных ошибок обработки DOM, к примеру не найден селектор, указанный в команде и прочее.
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Закрыть</a>
    </div>
</div>

<script>
    M.Modal.init(document.querySelector("#help"), {inDuration: 0, outDuration: 0});

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/eclipse");
    editor.setOptions({
        "printMargin": false
    });
    editor.session.setMode("ace/mode/javascript");
    editor.setValue(document.getElementById("src").textContent);
    editor.clearSelection();

    function beforeSubmit() {
        document.querySelector("#src").textContent = editor.getValue();
    }
</script>