﻿@{
    var scripts = (IEnumerable<string>)ViewData["Scripts"];
}

<div class="row valign-wrapper">
    <h5 class="col input-field">Скрипты</h5>
    <div class="col input-field">
        <a href="/script/add" id="add-btn" class="btn-small"><i class="material-icons left">add</i>добавить</a>
    </div>
</div>

<blockquote>
    Скрипты обработки позволяют использовать AutomatorHelper вместо php-сервера для передачи автомaтору набора действий на целевой странице;<br />
    Для использования скриптов обработки - установите
    <span class="blue-text">control_url</span> задания как:<br />
    http://<span class="orange-text">ip_AutomatorHelper</span>:<span class="red-text">порт (обычно 5000)</span>/invoke/<span class="green-text">имя_скрипта (можно без расширения)</span><br />
    <span>Пример: <i>http://127.0.0.1:5000/invoke/script_for_google</i></span>
</blockquote>

@if (scripts.Count() == 0)
{
    <blockquote>Нет скриптов</blockquote>
}
else
{
    <ul class="collection">
        @foreach (var s in scripts)
        {
            <li class="collection-item" style="display:flex">

                <div>
                    <span>@s</span>&emsp;
                </div>
                
                <div style="margin-left:auto">
                    <a href="/script/edit?name=@s" title="изменить"><i class="material-icons small">edit</i></a>
                    <a href="#" class="invoke" data-href="/script/testinvoke?name=@s" title="тест-запуск"><i class="material-icons small">play_arrow</i></a>
                    <a href="/script/delete?name=@s" title="удалить"><i class="material-icons red-text small">delete</i></a>
                </div>
            </li>
        }
    </ul>
}

<!-- Modal Structure -->
<div id="result" class="modal modal-fixed-footer">
    <pre class="modal-content"></pre>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Закрыть</a>
    </div>
</div>

<script>
    var modal = M.Modal.init(document.querySelector("#result"));

    for (let inv of document.querySelectorAll(".invoke")) {
        inv.addEventListener("click", async function () {
            try {
                var data = await getRequest(inv.dataset.href);
                modal.el.querySelector(".modal-content").textContent = JSON.stringify(JSON.parse(data), null, 4);
            }
            catch (x) {
                modal.el.querySelector(".modal-content").textContent = x.responseText + x.statusText;
            }
            finally {
                modal.open();
            }
        });
    }

</script>