.tiny-row {
    padding:4px;
    margin:2px;
    border-radius:4px;
    border-width:0px;
    border-style:solid;
}

.collection-row {
    background-color: rgba(0,0,0,.015);
    border:1px solid gray;
    cursor:pointer;
}

.collection-row:hover{
    background-color:rgba(0,0,0,.15) !important;
}


/*custom*/
.input-container {
    display: flex;
    align-items: center;
}

.input-item {
    flex: 1;
}

.session-title{
    font-weight: bold;
    font-size: 1.25em;
}

table.thick td,th {
    padding: 1px;
}

.my-card {
    border-radius: 4px;
    padding: 4px;
    background-color: rgba(0, 0, 0, .01);
    -webkit-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.1);
    box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.1);
}

.tinted-card {
    border-radius: 4px;
    padding: 2px;
    margin:4px;
    background-color: rgba(0, 0, 0, .05);
}

.button-card {
    opacity: .9;
    color: white;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
    -webkit-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.1);
    box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.1);
}

.proxy-button {
    margin-left: 3px;
    margin-right: 3px;
}

.button-card:hover {
    opacity: 1;
    -webkit-box-shadow: -1px 1px 4px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: -1px 1px 4px 2px rgba(0,0,0,0.25);
    box-shadow: -1px 1px 4px 2px rgba(0,0,0,0.25);
}

.anchor {
    display: block;
    position: relative;
    top: -96px;
    visibility: hidden;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}