﻿@{
    var data = (IEnumerable<GlossaryItem>)ViewData["Dataset"];
    var enumTitle = (string)ViewData["EnumTitle"];
    var enumName = (string)ViewData["EnumName"];

    string indexLink = $"/enums/{enumName}/index";
    string updateLink = $"/enums/{enumName}/update";
    string addLink = $"/enums/{enumName}/add";
    string deleteLink = $"/enums/{enumName}/delete";
}
<div class="row valign-wrapper">

    <h4 class="col input-field">@(enumTitle ?? "Справочник " + enumName)</h4>

    <div class="col input-field">
        <button id="add_btn" class="btn-small"><i class="material-icons left">add</i>добавить</button>
    </div>
</div>


<!-- Modal Structure -->
<div id="modal_enum" class="modal">
    <div class="modal-content">
        <div>
            <h4></h4>
        </div>
        <form id="enum_form">
            <input type="hidden" name="Id" value="" />
            <div class="input-field">
                <input type="text" name="Value" value="" required />
                <label>значение</label>
            </div>
            <div class="input-field">
                <input type="text" name="Comment" value="" />
                <label>комментарий (необ.)</label>
            </div>
        </form>
    </div>
    <div class="modal-footer valign-wrapper">
        <a href="#" id="modal_agreed" class="waves-effect waves-green btn left"></a>
        <a href="#" class="modal-close btn-flat left"><i class="material-icons">close</i></a>
    </div>
</div>


@* main table *@
@if (data.Count() > 0)
{
    <table class="highlight">

        @foreach (var e in data)
        {
            <tr class="collection-row">

                <th class="collection-primary">@e.Value</th>

                <td>@e.Comment</td>

                <td>
                    <a href="#" class="stop-click-event remove-self secondary-content red-text" data-remove="@e.Id"><i class="material-icons">delete</i></a>
                    <input type="hidden" name="Value" value="@e?.Value" />
                    <input type="hidden" name="Comment" value="@e?.Comment" />
                    <input type="hidden" name="Id" value="@e?.Id" />
                </td>
            </tr>
        }
    </table>
}

<script>

    var modalEnum = document.getElementById("modal_enum");
    M.Modal.init(modalEnum, { inDuration: 0, outDuration: 0, preventScrolling: false });


    document.getElementById("add_btn").onclick = function () {
        modalEnum.dataset.behavior = "add";
        for (let input of modalEnum.querySelectorAll("input")) {
            input.value = "";
        }
        modalEnum.querySelector("#modal_agreed").textContent = "добавить";
        modalEnum.querySelector("h4").textContent = "Добавить запись";
        M.updateTextFields();
        M.Modal.getInstance(modalEnum).open();
    };


    document.getElementById("modal_agreed").onclick = function () {
        let url = modalEnum.dataset.behavior == "add" ? '@addLink' : '@updateLink';
        postRequest(url, new FormData(document.getElementById("enum_form")))
            .then(r => {
                M.toast({ html: r, classes: "green" });
                setTimeout(() => location.reload(), 500);
            })
            .catch(x => M.toast({ html: x.statusText + x.status, classes: "red" }));
    };


    for (let btnRemove of document.querySelectorAll(".remove-self")) {
        btnRemove.onclick = function () {
            getRequest("@deleteLink?id=" + this.dataset.remove)
                .then(r => {
                    M.toast({ html: r, classes: "green" });
                    setTimeout(() => location.reload(), 500);
                })
                .catch(x => M.toast({ html: x.statusText + x.status, classes: "red" }));
        };
    }


    for (let selfBtn of document.querySelectorAll(".collection-row")) {
        selfBtn.onclick = function () {
            let selfId = this.querySelector("input[name=Id]").value;
            let selfVal = this.querySelector("input[name=Value]").value;
            let selfComment = this.querySelector("input[name=Comment]").value;

            modalEnum.querySelector("input[name=Id]").value = selfId;
            modalEnum.querySelector("input[name=Value]").value = selfVal;
            modalEnum.querySelector("input[name=Comment]").value = selfComment;

            modalEnum.dataset.behavior = "update";
            modalEnum.querySelector("#modal_agreed").textContent = "обновить";
            modalEnum.querySelector("h4").textContent = "Изменить запись";

            M.updateTextFields();
            M.Modal.getInstance(modalEnum).open();
        }
    }
</script>

@if (data.Count() == 0)
{
    <blockquote>Пока-что ничего нет</blockquote>
    return;
}

