﻿<head>
    <title>Automator helper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/css/material-icons.css" rel="stylesheet" />
    <link href="~/materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <script src="~/js/site.js" type="text/javascript"></script>
    <script src="~/materialize/js/materialize.min.js" type="text/javascript"></script>

    <script src="~/ace/ace.js" type="text/javascript" charset="utf-8"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
