﻿<!DOCTYPE html>
<html>
@{await Html.RenderPartialAsync("_Head");}
<body>
    @{
        var action = (string)ViewContext.RouteData.Values["action"];
    }
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="right brand-logo"><i class="material-icons left" style="font-size: 32px">autorenew</i>Automator helper</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">

                    <li><a href="/"><b><i class="material-icons left">home</i>Главная</b></a></li>
                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="dropdown_task">
                            <span>Задачи</span>
                            <i class="material-icons left">event_note</i>
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="dropdown_task" class="dropdown-content">
                            <li><a href="/task"><i class="material-icons left">web_asset</i>Просмотр</a></li>
                            <li><a href="/task/ViewTask"><i class="material-icons left">create_new_folder</i>Добавить</a></li>
                            <li><a href="/task/Import"><i class="material-icons left">import_export</i>Импорт</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="dropdown_session">
                            <span>Сессии</span>
                            <i class="material-icons left">tv</i>
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="dropdown_session" class="dropdown-content">
                            <li><a href="/session"><i class="material-icons left">web_asset</i>Просмотр</a></li>
                            <li><a href="/session/add"><i class="material-icons left">create_new_folder</i>Добавить</a></li>
                            <li><a href="/session/import"><i class="material-icons left">import_export</i>Импорт</a></li>
                        </ul>
                    </li>
                    <li><a href="/proxy"><b><i class="material-icons left">network_cell</i>Прокси</b></a></li>

                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="dropdown_enum">
                            <span>Справочники</span>
                            <i class="material-icons left">assignment</i>
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="dropdown_enum" class="dropdown-content">
                            <li><a href="/enums/urls/index"><i class="material-icons left">grid_on</i>Сайты</a></li>
                            <li><a href="/enums/timezones/index"><i class="material-icons left">timelapse</i>Тайм зоны</a></li>
                            <li><a href="/enums/useragents/index"><i class="material-icons left">laptop_mac</i>Юзер-агенты</a></li>
                            <li><a href="/enums/platforms/index"><i class="material-icons left">phonelink</i>Платформы</a></li>
                            <li><a href="/enums/navigatorplatforms/index"><i class="material-icons left">airplay</i>navigator.platform</a></li>
                            <li><a href="/enums/browsers/index"><i class="material-icons left">language</i>Браузеры</a></li>
                            <li><a href="/enums/languages/index"><i class="material-icons left">chat</i>Языки</a></li>
                            <li><a href="/enums/proxytypes/index"><i class="material-icons left">perm_data_setting</i>Типы прокси</a></li>
                            <li><a href="/enums/vendors/index"><i class="material-icons left">work</i>Вендоры</a></li>
                            <li><a href="/enums/resolutions/index"><i class="material-icons left">border_all</i>Разрешения экрана</a></li>
                            <li><a href="/enums/controlurls/index"><i class="material-icons left">layers</i>Управляющие url</a></li>
                        </ul>
                    </li>

                    <li><a href="/script"><b><i class="material-icons left">code</i>Scripts</b></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <main class="container">
        @RenderBody()
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            M.Dropdown.init(document.querySelectorAll(".dropdown-trigger"), { coverTrigger: false, constrainWidth: false });
            M.updateTextFields();
        });
    </script>
</body>

</html>
