﻿@{ 
    Layout = null;
}

@* modal for glossary *@
<div id="modal_glossary" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Выбрать <span id="glossary_type_name"></span></h4>
        <div id="glossary_list" class="row"></div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Закрыть</a>
    </div>
</div>

<template id="template_glossary_item">
    <div class="col input-field">
        <button type="button" class="btn glossary-item"></button>
    </div>
</template>

<script>
    var glossaryModal = document.getElementById("modal_glossary");
    var glossaryModalInstance = M.Modal.init(glossaryModal, { outDuration: 0, inDuration: 0, preventScrolling: false });
    var glossaryNameElement = document.getElementById("glossary_type_name");
    var glossaryItemsContainer = document.getElementById("glossary_list");

    function glossaryRequest(type) {
        return getRequest("/session/glossaryhelp?type=" + type)
            .then(r => Promise.resolve(JSON.parse(r)));
    };

    function renderGlossaryItem(glossary) {
        let clone = document.importNode(document.getElementById("template_glossary_item").content, true);
        clone.querySelector("button").textContent = glossary.value;
        clone.querySelector("button").title = glossary.comment;
        return clone;
    };

    function showGlossaryModal(self) {
        let targetInput = self.parentElement.querySelector("input");
        glossaryRequest(self.dataset.type)
            .then(glossary => {
                let behavior = self.dataset.behavior;
                let dataDelimiter = self.dataset.delimiter || ",";

                glossaryNameElement.textContent = self.dataset.name;
                glossaryItemsContainer.innerHTML = ""; //clear

                if (!glossary || glossary.length == 0) {
                    glossaryItemsContainer.textContent = "словарь пуст";
                }
                else {
                    for (let g of glossary) {
                        glossaryItemsContainer.appendChild(renderGlossaryItem(g));
                    }
                    //add eh
                    for (let gi of document.querySelectorAll(".glossary-item")) {
                        gi.onclick = function () {
                            if (behavior == "add") {
                                this.classList.add("green");
                                let oldVal = targetInput.value;
                                if (oldVal) {
                                    oldVal += dataDelimiter;
                                }
                                targetInput.value = oldVal + this.textContent;
                            }
                            else {
                                targetInput.value = this.textContent;
                                glossaryModalInstance.close();
                            }
                            //upd
                            M.updateTextFields();
                        };
                    }
                }

                glossaryModalInstance.open();
            })
            .catch(x => M.toast({ html: x.responseText + x.statusText + x, classes: "red" }));
    }

    //globally dispatched
    document.body.addEventListener("click", function (event) {
        if (event.target.classList.contains("glossary-helper")) {
            showGlossaryModal(event.target);
        }
    });
</script>