﻿@model List<ProxySettings>
@{
    var types = (string[])ViewData["ProxyTypes"] ?? new string[] { };
}

<div class="row valign-wrapper">

    <h4 class="col input-field">Справочник прокси-серверов</h4>
    <div class="col input-field">
        <button id="add_btn" class="btn-small"><i class="material-icons left">add</i>добавить</button>
    </div>
</div>



<!-- Modal Structure -->
<div id="modal_proxy" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div>
            <h4>Добавить прокси</h4>
        </div>
        <form class="row" id="form_proxy">

            <input type="hidden" name="Id" />

            <div class="row">
                <div class="input-field col s8 l4">
                    <label>ProxyIp</label>
                    <input type="text" name="ProxyIp" class="ip4-validate" required />
                    <span class="valid-state red-text"></span>
                </div>

                <div class="input-field col s4 l3">
                    <input type="text" name="ProxyPort" class="port-validate" required />
                    <label>ProxyPort</label>
                    <span class="valid-state red-text"></span>
                </div>

                <div class="input-field col s12 l4">
                    <label>LocalProxyIp</label>
                    <input type="text" name="LocalProxyIp" class="ip4-validate" required />
                    <span class="valid-state red-text"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 l4">
                    <label>RealProxyIp</label>
                    <input type="text" name="RealProxyIp" class="ip4-validate" required />
                    <span class="valid-state red-text"></span>
                </div>

                <div class="input-field col s12 l4">
                    <select name="ProxyType">
                        @foreach (var pt in types)
                        {
                            <option value="@pt">@pt</option>
                        }
                    </select>
                    <label>ProxyType</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer valign-wrapper">
        <a href="#" id="modal_apply" class="modal-agreed waves-effect waves-green btn left">ok</a>
        <a href="#" class="modal-close btn-flat left"><i class="material-icons">close</i></a>
    </div>
</div>

@if (Model != null && Model.Count > 0)
{
    <table class="highlight">
        @foreach (var p in Model)
        {
            <tr class="collection-row">
                <td><small>@p.Id</small></td>
                <th>@p.ProxyIp:@p.ProxyPort @p.ProxyType</th>
                <td>real: @p.RealProxyIp local: @p.LocalProxyIp</td>

                <td>
                    <a href="?" class="stop-click-event remove-self secondary-content red-text"><i class="material-icons">delete</i></a>
                    <input type="hidden" name="Id" value="@p.Id" />
                    <input type="hidden" name="LocalProxyIp" value="@p.LocalProxyIp" />
                    <input type="hidden" name="RealProxyIp" value="@p.RealProxyIp" />
                    <input type="hidden" name="ProxyIp" value="@p.ProxyIp" />
                    <input type="hidden" name="ProxyPort" value="@p.ProxyPort" />
                    <input type="hidden" name="ProxyType" value="@p.ProxyType" />
                </td>
            </tr>
        }
    </table>
}
else
{
    <blockquote>Пока-что ничего нет</blockquote>
}

<script>
    var modalProxy = document.getElementById("modal_proxy");
    var selects = M.FormSelect.init(document.querySelectorAll("select"), {});
    var modalInstance = M.Modal.init(modalProxy, {
        inDuration: 0,
        outDuration: 0,
        preventScrolling: false,
        onOpenEnd: () => {
            for (let ip4 of document.querySelectorAll(".ip4-validate")) {
                ip4.dispatchEvent(new Event('keyup'));
            }

            for (let prt of document.querySelectorAll(".port-validate")) {
                prt.dispatchEvent(new Event('keyup'));
            }
        }
    });


    document.getElementById("add_btn").onclick = function () {
        modalProxy.getElementsByTagName("h4")[0].textContent = "Добавить прокси";
        modalProxy.dataset.behavior = "add";
        for (let input of modalProxy.querySelectorAll("input[name]")) {
            input.value = ""; //reset inputs
        }
        M.updateTextFields();
        modalInstance.open();
    };

    document.getElementById("modal_apply").onclick = function () {
        let data = new FormData(document.getElementById("form_proxy"));
        postRequest("/proxy/" + modalProxy.dataset.behavior, data)
            .then(r => {
                M.toast({ html: r, classes: "green" });
                setTimeout(() => location.reload(), 500);
            })
            .catch(x => M.toast({ html: x.responseText + x.statusText, classes: "red" }));
    };

    for (let pr of document.querySelectorAll(".remove-self")) {
        pr.onclick = function () {
            let id = this.parentElement.querySelector("input[name=Id]");
            getRequest("/proxy/delete?id=" + id)
                .then(r => {
                    M.toast({ html: r, classes: "green" });
                    setTimeout(() => location.reload(), 500);
                })
                .catch(x => M.toast({ html: x.responseText + x.statusText, classes: "red" }));
        };
    }

    for (let pr of document.querySelectorAll(".collection-row")) {
        pr.onclick = function () {
            modalProxy.getElementsByTagName("h4")[0].textContent = "Изменить прокси";
            modalProxy.dataset.behavior = "update";

            modalProxy.querySelector("input[name=Id]").value = this.querySelector("input[name=Id]").value;
            modalProxy.querySelector("input[name=ProxyPort]").value = this.querySelector("input[name=ProxyPort]").value;
            modalProxy.querySelector("input[name=LocalProxyIp]").value = this.querySelector("input[name=LocalProxyIp]").value;
            modalProxy.querySelector("input[name=ProxyIp]").value = this.querySelector("input[name=ProxyIp]").value;
            modalProxy.querySelector("input[name=RealProxyIp]").value = this.querySelector("input[name=RealProxyIp]").value;
            modalProxy.querySelector("select[name=ProxyType]").value = this.querySelector("input[name=ProxyType]").value;

            M.updateTextFields();
            modalInstance.open();
        };
    }
</script>