﻿@{ 
    var stats = (MainStats)ViewData["Stats"];
    var options = (AutomatorOptions)ViewData["Automator"];
}
<h3>Hello darkness my old friend</h3>
<blockquote>
    Что-то интересное написанное здесь.
</blockquote>
<div class="row">
    <ul class="collection with-header col s12 m4">
        <li class="collection-header"><h4>Статистика</h4></li>
        <li class="collection-item">
            <div>
                <span>Сессии</span>
                <span class="secondary-content">@stats.SessionsCount</span>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <span>Задачи</span>
                <span class="secondary-content">@stats.TasksCount</span>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <span>Сайты</span>
                <span class="secondary-content">@stats.SitesCount</span>
            </div>
        </li>

        <li class="collection-header"><h4>Файл базы</h4></li>
        <li class="collection-item">
            <div>
                <span>Выгрузить</span>
                <span class="secondary-content"><a href="/home/getdbfile"><i class="material-icons">file_download</i></a></span>
            </div>
        </li>

    </ul>

    <ul class="collection with-header col s12 m8">
        <li class="collection-header"><h4>Параметры</h4></li>
        <li class="collection-item">
            <div>
                <span>Путь к автоматору</span>
                <span class="secondary-content">@(options.Executable ?? "не задано")</span>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <span>Временная папка</span>
                <span class="secondary-content">@(options.TempDirectory ?? "не задано")</span>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <span>Таймаут процесса</span>
                <span class="secondary-content">@(options.ProcessTimeout / 1000) сек.</span>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <span>Имя процесса</span>
                <span class="secondary-content">@(options.ProcessName ?? "не задано")</span>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <span>Закрывать Automator перед запуском по расписанию</span>
                <span class="secondary-content">@options.KillBeforeRun</span>
            </div>
        </li>
    </ul>
</div>


